<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'Nilai a : ' + total}}</h1>
    <h1>{{'Nilai rata-rata : ' + rata_rata}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          a : 0,
          total: 0,
          rata_rata: 0,
          i : 0
      },
      computed : {},
      methods : {
          openForm : function(){
              this.a = Number(prompt('input nilai'))
              this.total += this.a
              this.i++
              if(this.total <= 10){
                  this.openForm()
              }else{
                this.rata_rata = this.total / this.i
                console.log(this.i)
              }
          }
      }
  })

//   penForm : function(){
//             var x = prompt("input nilai");
//             if(x <= 10){
//                 var a += x
//             }else{
//                 return this.a
//             }
//           }
  </script>
</body>
</html>